/* убираем отступы */
* {
    margin: 0;
    padding: 0;
}

/* убираем выделение при нажатии на мобильных */
* {
    -webkit-tap-highlight-color: transparent; 
}

/* border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

// html {
//     overflow-x: hidden;
//     margin-right: calc(-1 * (100vw - 100%));
//   }

/* ограничение макс. ширины на случай большой картинки */
img {
    max-width: 100%;
    height: auto;
}

/* убираем подчеркивание и стандартный цвет */
a {
    text-decoration: none;
    color: inherit;
}

/* общие стили для сайта */
body {
    background-color: $bgcrbody;
    font-family: $font-site;
    
}


button {
    cursor: pointer;
    border: none; 
    text-align: center;
}

.display-none {
    display: none;
}
